.tab-bar {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 25px;
  }
  
  .tab-bar button {
    background-color: transparent ;
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    gap: 5px;
    width:120px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .tab-bar button:hover {
    color: #6a0404;
  }
  
  .tab-bar .active button {
    background-color: #bf6868;
    border-radius: 15px;
  }
  
  /* Slider Container */
  .slider-container {
    margin-bottom: 20px;
  }
  /* Slick Arrow Buttons */
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    content: '';
    color: transparent;
  }
  
  /* Slick Previous Button */
  .slick-prev {
    left: -80px;
    content: '';
    color: transparent;
  }
  
  /* Slick Next Button */
  .slick-next {
    right: -60px;
    content: '';
    color: transparent;
  }
  
  /* Slick Arrow Icons */
  .slick-next:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 8px;
    border-color: transparent transparent transparent #a33c3c;
    color: transparent;
    
  }
  .slick-prev:before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 10px 0;
    border-color: transparent #a33c3c transparent transparent;
    font-size: 0;
    line-height: 0;
    color: transparent;
  }
  
  
  /* Change Arrow Color on Hover */
  .slick-prev:hover,
  .slick-next:hover {
    content: '';
  }
  
  
  /* Slider dots */
  .slick-dots li button:before {
    color: #f31136;
    margin-top: 10px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #6a0404;
  }
  
  .servicehr2{
    
    height: 2.2px;
    width: 60px;
    border-color: #C31E39;
    border-radius: 5px;
    background-color:#C31E39; 
    margin-left: 5px;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  .our-store{
      justify-content: space-between;
      margin-bottom: 30px;
      padding-left: 300px;
      padding-right: 300px;
      padding-top: 20px;
      padding-bottom: 50px;
  }
  
  /* Items Container */
  .items-container {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 80px;
        margin-left: 0px;
        align-items: center;
        margin-top: 60px;
    
    
  }
  
  /* Item */
  .item {
   
    padding: 0%;
    border: 1px solid #ccc;
    width: 100%;
    max-height:150%;
    background-color: #f6c6c6;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    align-items: center;
    text-align: center;
  
    
  }
  
  
  .item:hover {
    transform: translateY(-5px);
  }
  
  /* Item Image */
  .item-image {
    width: 200px;
    height: 190px;
    border-radius: 5px 5px 0 0;
    margin-top: 30px;
    padding: 10px;
  }
  
  /* Item Content */
  .item-content {
    padding:10px;
    
  }
  
  .item-topic {
    margin: 0 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    align-content: center;
    margin-top: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .item-description {
    margin: 0;
    font-size: 0.9rem;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .item-buttons {
    display: flex;
    justify-content: center;
  }
  
  .item-buttons {
        display: flex;
        justify-content: center;
      }
  
      .custom-button1{
        background-color: #9a1027eb;
        color: black;
        padding: 10px 10px; 
        border: none; 
        border-radius: 25px; 
        cursor: pointer; 
        font-size: 11px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
        margin-bottom: 30px;
        height: 30px;
        width: 80px;
        margin-right: 3px;
        }
        .custom-button1:hover {
          color:#f6c6c6; 
        }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .items-container {
      justify-content: flex-start;
    }
  
    .item {
      width: calc(50% - 40px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .item {
      width: calc(100% - 40px);
    }
  }